:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(227, 250, 253);
}

h1 {
  text-align: center;
  color: rgb(89, 90, 93);
  font-family: 'Libre Baskerville', serif;
}

h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  color: rgb(89, 90, 93);
}

a:hover,
link:hover {
  color: rgb(6, 36, 32);
}

header {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

nav a {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

nav ul {
  background-color: rgb(124, 213, 224);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
}

nav ul li.first-child {
  display: flex;
  padding-left: 3rem;
}

nav ul li.last-child {
  display: flex;
  padding-right: 3rem;
}

nav ul li,
footer ul li {
  display: inline;
  padding: 0;
  margin: 0;
  list-style: none;
}

footer ul {
  background-color: rgb(192, 192, 192);
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-evenly;
}

footer ul li a {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

footer ul li.first-child {
  padding-left: 2rem;
}

footer ul li.last-child {
  padding-right: 2rem;
}

aside,
article {
  display: inline;
}

/*article {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

aside img {
  padding-block: 5px, 5px, 5px, 5px;
}

a:link,
a:visited {
  text-decoration: none;
  color: #ffffff;
}
a:focus,
a:hover {
  text-decoration: underline;
}
header a:link,
header a:visited {
  color: #fdfdfd;
}*/
