:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  background-color: rgb(227, 250, 253);
}
h1 {
  text-align: center;
  color: rgb(89, 90, 93);
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
}
aside h3,
article h2 {
  font-family: 'Open Sans', sans-serif;
  color: rgb(94, 95, 98);
}
a:hover,
link:hover {
  color: rgb(6, 36, 32);
}
header {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}
nav a {
  color: rgb(255, 255, 255);
}
nav ul {
  background-color: rgb(124, 213, 224);
  display: flex;
  padding: 5px 30px 5px 30px;
  justify-content: center;
}
nav ul li {
  display: inline;
  padding: 0px 20px 0px 20px;
  margin: 0;
  list-style: none;
}
footer ul {
  background-color: rgb(192, 192, 192);
  display: flex;
  padding: 5px 30px 5px 30px;
  justify-content: center;
}
footer ul li {
  display: inline;
  padding: 0px 20px 0px 20px;
  margin: 0;
  list-style: none;
}
aside {
  display: flex;
  padding: 0.1rem;
  height: 550px;
  width: 300px;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgb(11, 224, 224);
}
aside img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
  align-items: flex-start;
}
aside h2 {
  display: flex;
  justify-content: center;
}
aside ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*article {
  display: flex;
  flex-direction: column;
}*/
main {
  display: flex;
}
/*a:link,
a:visited {
  text-decoration: none;
  color: #ffffff;
}
a:focus,
a:hover {
  text-decoration: underline;
}
header a:link,
header a:visited {
  color: #fdfdfd;
}*/
